@{
    ViewData["Title"] = "Home Page";
}
<style>
    .input-group{
        padding-bottom: 10px;
    }
    .input-group-addon{
        min-width: 150px;
        text-align: right;
    }
    .red-star{
        color: red;
    }
    .description{
        color: red;
    }
</style>

<br>
<div class="input-group">
  <span class="input-group-addon"><span class="red-star">* </span>Фамилия</span>
  <input onblur="CheckValue(this)" type="text" class="form-control not-empty" id="input1">
</div>
<div class="input-group">
  <span class="input-group-addon"><span class="red-star">* </span>Имя</span>
  <input onblur="CheckValue(this)" type="text" class="form-control not-empty" id="input2">
</div>
<div class="input-group">
  <span class="input-group-addon"><span class="red-star">* </span>Отчество</span>
  <input onblur="CheckValue(this)" type="text" class="form-control not-empty" id="input3">
</div>
<div class="input-group">
  <span class="input-group-addon"><span class="red-star">* </span>Организация</span>
  <input onblur="CheckValue(this)" type="text" class="form-control not-empty" id="input4">
</div>
<div class="input-group">
  <span class="input-group-addon"><span class="red-star">* </span>Должность</span>
  <input onblur="CheckValue(this)" type="text" class="form-control not-empty" id="input5">
</div>
<div class="input-group">
  <span class="input-group-addon">Адрес организации</span>
  <input type="text" class="form-control" id="input6">
</div>
<div class="input-group">
  <span class="input-group-addon"><span class="red-star">* </span>E-mail</span>
  <input onblur="CheckValue(this)" type="text" class="form-control not-empty" id="input7">
</div>
<div class="input-group">
  <span class="input-group-addon"><span class="red-star">* </span>Телефон</span>
  <input onblur="CheckValue(this)" type="text" class="form-control not-empty" id="input8">
</div>
<p class="description">Пожалуйста, заполните поля в приведенной форме регистрации, ответы на вопросы, отмеченные *, являются обязательными.</p>
<!-- <br> -->
<button type="button" class="btn btn-success" onclick="SendData()">Отправить</button>
<script>
    
    function SendData(){
        var domElementsArray = document.getElementsByClassName("not-empty");
        Array.prototype.forEach.call(domElementsArray, function(el) {
            CheckValue(el);
        });
        var a = SendAjax(domElementsArray);
    }

    function CheckValue(el){
        if (el.value == "") {
                el.style.borderColor = "#FB4D4B";
            }
            else{
                el.style.borderColor = "";
            }
    }

    function SendAjax(domElementsArray){
        var x = 0;//return почему-то не работал
        Array.prototype.forEach.call(domElementsArray, function(el) {
            if (el.value == "") {
                x++;
            }
        });
        if(x == 0)
        {
            $.post("http://localhost:5000/Home/SendEmail",
            { surname: document.getElementById("input1").value,
            name: document.getElementById("input2").value,
            patronymic: document.getElementById("input3").value,
            organization: document.getElementById("input4").value,
            position: document.getElementById("input5").value,
            address: document.getElementById("input6").value,
            email: document.getElementById("input7").value,
            phone: document.getElementById("input8").value},
            function(){
            }).done(function() {
                alert( "Ваша заявка принята" );
            })
            .fail(function() {
                alert( "Ошибка, проверьте e-mail" );
            });
        }
    }
</script>